doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title title
    body
        div(id='root') HELLO WORLD
        script(type='text/javascript' data-main='/js/app' src='/js/require.js')
